@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family:'Poppins','sans-seriff';
}
.hero{
    width: 100%;
    min-height:100vh;
    background: linear-gradient(45deg,#a700ff,#4d19db);
    padding-left:8%;
    padding-right:8%;
    box-sizing: border-box;
    color: #fff;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.hero nav{
    display:flex;
    align-items: center;
    padding:30px 0;
}

.hero .logo{
    width: 150px;
}

.hero nav ul{
    flex: 1;
    text-align:right;
}

.hero nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}

.hero a{
    text-decoration: none;
    text-decoration-color: none;
    color: #fff;
}

.hero .headbtn{
    border:2px solid #fff;padding:6px 25px;
    border-radius:30px;
    margin-left: 30px;
}

.hero .head-row{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
    justify-content: space-between;
}

.hero .head-col-1{
    flex-basis: 40%;
    min-width: 300px;
    margin-bottom: 30px;
    position: relative;
}
.hero .head-col-2{
    flex-basis: 55%;
    min-width: 300px;
    margin-bottom: 30px;
}

.hero .head-col-1 img{
    width: 100%;
}
.hero .head-col-2 h1{
    font-size: 62px;
    font-weight: 600;
}

.hero .head-col-2 p{
    margin: 10px 0 50px;
    max-width: 580px;
}
.hero .head-col-2 .headbtn{
margin-left: 0%;
margin-right: 30px;
background: #fff;
color:#4d19db;
font-weight: 500;
}
.hero .elements{
    position: absolute;
    left: 0;
    top: 0;
    animation: move 2.5s linear infinite;
}
/*****/
.hovernav::after{
    content:'';
    display: block;
    width:0;
    height:2px;
    background: #fff;
    transition:width 0.3s;
}

.hovernav:hover::after{
    width: 100%;
    transition:width 0.3s;
    
}
/****/
@keyframes move {
    0%{
        transform: translate(-15px,0px);
    }
    50%{
        transform: translate(0px,-15px);
    }
    100%{
        transform: translate(-15px,0px);
    }
}

.triangle1{
    position: absolute;
    left: 50%;
    top: -180px;
    transform: translateX(-50%);
    width: 400px;
    z-index: -1;
    opacity: 0.7;
}
.triangle2{
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
    width: 400px;
    z-index: -1;
    opacity: 0.7;
}

.circle{
    position: absolute;
    right:-100px;bottom:-300px;
    width: 500px;
    z-index: -1;opacity: 0.5;

}